.skeleton-box {
    width: calc(18*var(--item-card-font-size));
    border-radius: 21px;
    height: 23rem;
    margin-bottom: 10px;
    background-color: #1b1925;
    position: relative;
    overflow: hidden;
    height: 24rem;
    margin: 10px auto;
    transition: .4s;
}
  .skeleton-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, rgb(251 251 251 / 0%) 0, rgb(255 255 255 / 9%) 20%, rgb(255 255 255 / 0%) 60%, rgb(255 255 255 / 0%) 100%);
    animation: shimmer 1s infinite;
}

  @keyframes shimmer {
    100% {
      left: 100%;
    }
  }

@media(max-width:720px) {
    .skeleton-box {
        width: 90%;
    }

}