.modal-content{
    padding: 1rem;
    background: #1b1926;
}

.modal-heading {
    display: flex;
    justify-content: space-between;
    height: 15%;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 230%;
    font-weight: 900;
    color: beige;
    background: linear-gradient(to left, rgb(121, 40, 202), rgb(255, 0, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-body{
    height: 80%;
    display: flex;
    padding: 0.8rem 0.8rem 1.8rem 0.8rem;
    flex-direction: column;
    justify-content: space-between;
}
