.phone-validation-container{
    background-color: var(--otp-container-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1.5rem);
}

.phone-validation-heading{
    font-size: calc(2*var(--root-font-size-OTP));
    text-align: center;
    margin-top: 1rem;
}

.phone-validation-general-msg{
    font-size: calc(1*var(--root-font-size-OTP));
    text-align: center;
    color: var(--otp-container-font-color-dim);

}

.phone-validation-phonenumber-container{
    display: flex;
    padding: calc(1*var(--root-font-size-OTP)) calc(1.2*var(--root-font-size-OTP)) 0 calc(1.2*var(--root-font-size-OTP));

}

.phone-validation-phonenumber-input input{
    width: 100% !important;
    font-size: calc(1.4*var(--root-font-size-OTP)) !important;
    color: var(--otp-container-font-color);

}
.phone-validation-phonenumber-input *{
    background-color: var(--otp-container-phone-input-color) !important;
    border-color: #969696c0 !important;

}

.phone-validation-otp-input-field input{
    margin-right: 0.5rem !important ;
    width: 28px !important;
    height: 28px !important;
    background-color: #2a344a;
    border: 1px solid white;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 2rem;
}

.phone-validation-status-msg{
    font-size: calc(1*var(--root-font-size-OTP));
    
}

.phone-validation-buttons-container{
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
}

.phone-validation-sendOtpBtn, .phone-validation-backBtn{
    font-size: calc(1.1*var(--root-font-size-OTP));
    padding: 0.8rem 1rem;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--otp-container-font-color);
    border-radius: 7px;
    background-image: linear-gradient(to right, #1c263c 0%, #181e2b 51%, #232c3e 100%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: none; 
    width: 100%;
}

.phone-validation-sendOtpBtn:hover, .phone-validation-backBtn:hover{
    background-position: right center;
    cursor: pointer;
}

.phone-validation-backBtn{
    margin-right: 1rem;
}
@media only screen and (min-width:500px){
    :root{
        --root-font-size-OTP: 13px;
    }
    .phone-validation-container{
        width: calc(28*var(--root-font-size-OTP));
        padding: 3%;
    }

    .phone-validation-heading{
        margin-top: 0;
    }
}