.otp-modal-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #2a344a;
    backdrop-filter: blur(5px);
}

.otp-modal-container{
    background-color: black;
    min-width: 32%;
    height: 40%;
    margin: auto;
    background-color:  #232c3e;
    border: 1px solid none;
    border-radius: 12px;
    padding: 2rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.otp-heading{
    font-size: 2rem;
    width: 100%;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid rgba(174, 169, 169, 0.64) ;
}

.number-input-field-conatiner{
    margin: auto;
    display: flex;
    margin-top: 5rem;
}

.number-input-field{
    margin: auto;
}

.number-input-field input{
    margin-right: 0.5rem !important ;
    width: 36px !important;
    height: 36px !important;
    background-color: #2a344a;
    border: 1px solid white;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 2rem;
}

.otp-footer{
    display: flex;
}

.otp-message{
    flex-grow: 3;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.otp-back-btn{
    margin-right: 1rem;
}

.send-otp-btn, .otp-back-btn{
  float: right  ;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(to right, #1c263c 0%, #181e2b 51%, #232c3e 100%);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.send-otp-btn:hover, .otp-back-btn:hover{
    background-position: right center;
    cursor: pointer;
}