/* #signupContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#signupContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#signupContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} */

.signup-page-input-text{
  color: #FFFFFF;
  font-size: 1.1rem;
}

.signup-page-input-field{
  margin-top: 0.5rem;
  margin-bottom: 1.1rem;
  color: #ffffff;
  width: 15rem;
}

.border-gradient {
  border: 2px solid;
  border-image-slice: 1;
  background-color: transparent;
  padding: 1.4rem;
  color: white;
  transition: 0.5s;
}

.border-gradient-1 {
  border-image-source: linear-gradient(to left, #c5a842,#13b634);
}

.border-gradient-1:hover{
  border-image-source: linear-gradient(to right, #c5a842,#13b634);
}

.border-gradient-2 {
  border-image-source: linear-gradient(to left, #13b634,#c5a842);
}

.border-gradient-2:hover {
  border-image-source: linear-gradient(to right, #13b634,#c5a842);
}


.signup-for-free{
  color: black;
  background: transparent;

  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 4px;
  background-image: linear-gradient(to right, #01c29a 0%, #e8bc70 51%, #e8cd70 100%);
}

.signup-for-free:hover {
  background-position: right center; /* change the direction of the change here */
}
