:root {
    --product-page-font-size: 14px;
    --product-page-font-color: #FFFFFF;
    --product-page-font-color-2: #8b2be2;
    --product-page-card-color: #13111c;
}


@keyframes tilt-shaking {
    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}


.lottie-loader-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.lottie-loader-inner-wrapper {
    width: calc(20*var(--product-page-font-size));
    margin: auto;
}

.prodct-wrapper {
    display: flex;
    margin-top: calc(5.5*var(--product-page-font-size));
    padding: calc(1.2*var(--product-page-font-size));
    padding-top: calc(0.2*var(--product-page-font-size));
    color: var(--product-page-font-color);
    padding-bottom: 5rem;
}

.product-images {
    /* background-color: red; */
    width: 55%;
}

.product-details {
    /* background-color: white; */
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: calc(1.2*var(--product-page-font-size));
}

.product-back-btn {
    margin-top: 4px;
    color: var(--product-page-font-color-2);
    font-size: calc(1.2*var(--product-page-font-size));

}

.product-back-btn:hover {
    transition: 0.4s;
    /* letter-spacing: 0.4px; */
    cursor: pointer;
    text-decoration: underline;
}

.product-category-path {
    margin-left: 7px;
}

.product-info-card {
    width: 80%;
    background: var(--product-page-card-color);
    padding: calc(2*var(--product-page-font-size));
    padding-top: calc(1.2*var(--product-page-font-size));
    border-radius: 12px;
}

.product-title {
    font-weight: bolder;
    font-size: calc(1.7*var(--product-page-font-size));
    margin-bottom: calc(1.2*var(--product-page-font-size));
}

.product-upload-date {
    font-weight: bold;
    font-size: calc(1.2*var(--product-page-font-size));
}

.product-upload-date span {
    font-size: calc(1.1*var(--product-page-font-size));
    font-weight: normal
}

.product-extra-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: calc(2*var(--product-page-font-size));
    ;
    padding-right: calc(4*var(--product-page-font-size));
    ;
}

.product-small-card {
    width: calc(6*var(--product-page-font-size));
    background: var(--product-page-card-color);
    padding: calc(2*var(--product-page-font-size));
    padding-top: calc(1.2*var(--product-page-font-size));
    border-radius: 12px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product-small-card-title {
    font-weight: bold;
    font-size: calc(1.2*var(--product-page-font-size));
    margin-bottom: 8px;
}

.product-small-card-text {
    font-weight: 400;
    font-size: calc(1.3*var(--product-page-font-size));
}

.product-circle-bg-big {
    background-color: black;
    display: inline-block;
    padding: calc(1*var(--product-page-font-size));
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-seller-heading {
    font-weight: bold;
    font-size: calc(2*var(--product-page-font-size));
    text-align: center;
    margin-bottom: calc(1*var(--product-page-font-size));
}

.product-seller-page-outer-wrapper {
    display: flex;
}

.product-seller-details-warapper-left {
    width: 80%;
}


.product-page-profile-img-container {
    background: #000;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}


.product-owner {
    font-weight: normal;

}

.product-owner-contact-wrapper {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-left: 10px;
    gap: 10px;
}

.product-owner-contact-wrapper a {
    font-size: calc(2*var(--product-page-font-size));
    padding: 1% 5%;
    border-radius: 7px;
}
.product-owner-contact-wrapper a:nth-child(1) {
    background: #c1130d;
    color: wheat;
}
.product-owner-contact-wrapper a:nth-child(2) {
    background: white;
    color: rgb(0, 110, 255);
}
.product-owner-contact-wrapper a:nth-child(3) {
    background: #0dc143;
    color: wheat;
}

.product-owner-contact-wrapper a:hover {
    animation: tilt-shaking 0.3s infinite;
    cursor: pointer;
}


@media (max-width: 1240px) {
    :root {
        --product-page-font-size: 13px;
    }
}

@media (max-width: 1002px) {
    .prodct-wrapper {
        margin-top: calc(3*var(--product-page-font-size));
    }
}

@media (max-width: 950px) {
    :root {
        --product-page-font-size: 13px;
    }
}


@media (max-width: 808px) {
    .prodct-wrapper {
        flex-direction: column;
    }

    .product-images {
        width: 100%;
    }

    .product-details {
        margin-top: calc(5.6*var(--product-page-font-size));
        width: 100%;
        padding-left: 1rem;
    }
}

@media (max-width: 500px) {
    .product-details {
        margin-top: 0;
    }
}

@media (max-width: 403px) {
    .product-details {
        padding-left: 0.1rem;
    }

    :root {
        --product-page-font-size: 12px;
    }
}

@media (max-width: 371px) {
    .product-extra-card-container {
        padding-right: 0.4rem;
    }

    .product-small-card {
        width: 100%
    }
}