:root {
    --wishlist-font-size: 12px;
    --wishlist-light-color: #a0a0a0f0;
    --wishlist-dark-color: black;
    --wishlist-bright-color: #FFFFFF;
}

.wishlist-header-container {
    margin-top: 5.5rem;
    padding: 0 4% 0.5rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(137, 137, 137, 0.392);
}

.wishlist-heading {
    font-size: calc(2*var(--wishlist-font-size));
    font-weight: bold;
}

.wishlist-count-span {
    font-size: calc(1.8*var(--wishlist-font-size));
    color: var(--wishlist-light-color);
}

.wishlist-heading-span-btn {
    border-radius: 3px;
    padding: calc(0.5*var(--wishlist-font-size));
    margin-left: 1rem;
}

.wishlist-heading-span-btn:hover {
    cursor: pointer;
    background-color: #c90000;
    border: none;
    color: white;
    border-radius: 8px;
}

.wishlist-cards-container {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(calc(18*var(--item-card-font-size)), 1fr));
    grid-gap: 10px;
    margin-top: 1rem;
    padding-bottom: 4rem;
}

.wishlist-cards-container .emptyWishlist{
    text-align: center
}

.wishlist-cards-container button{
    width: 13rem;
}

.wishlist-cards-container button:hover{
    cursor: pointer;

}

.addProductBtn {
    border: none;
    color: white;
    width: 100%;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    height: 48%;
    border-radius: 8px;
    background: #7d00a1;
}

.modal-delete-btn-box {
    display: flex;
    justify-content: space-between;
}
.modal-delete-btn-box button {
    border-radius: 6px;
    border: none;
    height: 2rem;
    width: 100%;
}

@media(max-width:1000px) {
    .modal-delete-btn-box {
        flex-direction: column;
    }
    .modal-delete-btn-box button {
        margin-top: 5%;
    }
}
@media(min-width:1000px) {
    .modal-delete-btn-box button {
        width: 7rem;
    }
}