.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown-toggle {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.dropdown-menu {
  position: absolute;
  right: 15px;
  width: 10rem;
  background-color: hsl(256.85deg 37.38% 14.44%);
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 0px 9px 0px black;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.dropdown-menu button {
    display: block;
    border-radius: 6px;
    margin: 3px 0 3px 0;
    padding: 8px 12px;
    width: 100%;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
}

.dropdown-menu button:hover {
  background-color: #8127c9a8;
  border-radius: 6px;
}
.dropdown-menu button:nth-child(2):hover {
  background-color: #d71919e3;
  border-radius: 6px;
}

.dropdown.open .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
