:root{
  --products-font-size:16px;
}

.products-container {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 4.2rem;
}

.products-list{
  padding: calc(1*var(--products-font-size)) 2%;
}

.products-card-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(calc(18*var(--item-card-font-size)), 1fr));
  grid-gap: 10px;
}


.product-list-head {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.filter-container {
  width: 10%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.filter-button {
  position: absolute;
  color: #332d2d;
  font-weight: 900;
  width: 10%;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  border: none;
  height: 7%;
  border-radius: 8px;
}

.products-categories {
  width: 85%;
}



.slider {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  
}

.category-button {
  display: block;
  color: white;
  background: transparent;
  border: 1px solid #808080ba;
  padding: 0.6rem;
  border-radius: 11px;
  cursor: pointer;
}

.category-button:hover {
  background: #ffffff2e;
  border: none;
  transition: ease 0.2s;
}


.selected-category-button {
  display: block;
  color: white;
  padding: 0.6rem;
  border-radius: 11px;
  background: linear-gradient(to left, rgb(121, 40, 202), rgb(255, 0, 128));
  border: none;
}

.slider-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider-container::-webkit-scrollbar {
  height: 3px;
  opacity: 0px;
  background-color: transparent;

}

.slider-container:hover::-webkit-scrollbar {
  height: 3px;
  opacity: 5;
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.slider-container:hover::-webkit-scrollbar-thumb {
  width: 16px;
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}


@media(max-width:1000px) {
  .products-container {
    margin-left: auto;
  }

  .products-categories {
    width: 100%;
  }

  .filter-container {
    display: none;
  }
}
