@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body,html,#root{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}