/* .home-container{
    display: flex;
    flex-direction: column;
} */

/* @media(max-width:1000px){
    .home-container{
        margin: 0;
    }
    
}

@media(min-width:1001px){
    .home-container{
        margin-left: 15%;
    }
    
} */